form{
  width:20%;
  height: auto;
  margin-top: 40px;
  display: inline-block;
  border: 1px solid gray;
  height: 200px;
  padding: 20px;
  border-radius: 9px;
  background-color: rgb(192, 182, 182);
 
}
#email{
  margin-left: 21%;
  border-radius: 3px;
}

#name{
  margin-left: 20%;
  border-radius: 3px;
  margin-bottom: 10px;
}
#textarea{
  margin-left: 9%;
  margin-top: 15px;
  border-radius: 3px;
}
.btn{
  margin-top: 15px;
  width: 100px;
  background-color:rgb(192, 182, 182);
  border-radius: 4px;
  
}

.btn:hover{
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

@media (max-width:450px){
  form{
    width: 49%;
    height: auto;
  }
  #name{
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin-left: 0;
  }
  #email{
    margin-left: 0;
    margin-bottom: 10px;
  }
  #textarea{
    width: 88%;
    margin-left: 0;

  }
  
}

@media (min-width: 451px) and (max-width:768px){
  form{
    width: 60%;
    height: auto;
  }
  #name{
    margin-bottom: 10px;
    letter-spacing: 1px;
    width: 60%;
    margin-left: 60px;
  }
  #email{
    margin-left: 63px;
    margin-bottom: 10px;
    width: 60%;
  }
  .inputTextarea{
    width: 60%;
    margin-left: 80px;
  }
 
  
}

@media (min-width:769px) and (max-width:1024px){
  form{
    width: 40%;
    height: auto;
  }
  #name{
    margin-bottom: 10px;
    letter-spacing: 1px;
    width: 60%;
    margin-left: 60px;
  }
  #email{
    margin-left: 63px;
    margin-bottom: 10px;
    width: 60%;
  }
  .inputTextarea{
    width: 60%;
    margin-left: 80px;
  }
}
@media (min-width:1025px){
  form{
    height:auto;
  }
}