/* .main{
    display: block;
    width: 400px;
    height: 500px;
} */
.aboutCard {
  background-color: white;
  margin: 30px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.aboutCard:hover {
  
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.aboutImg{
  width: 250px;
  height: 250px;
  object-fit:cover;
   object-position:50% 50%;
  border-radius: 5px;
}
